/*******************************************
 General
 *******************************************/


/* Remove links decoration i.e. underlines */
a {
	text-decoration: none;
}


/*******************************************
 HEADING
 *******************************************/ 


#KHANDA {
	font-size: 60px;
	color: #000066;
}
#IKONKAR {	
	color: #cc3300;
	font-size: 60px;
}

/*******************************************
 NAVIGATION
 *******************************************/



/*******************************************
 FOOTER
 *******************************************/

footer {
	font-size: 0.70em;
	text-align: center;
	clear: both; /* make the footer separate than section */
	padding-top: 50px;
	color: #ccc;
}


/*******************************************
 Page: ABOUT
 *******************************************/




/*******************************************
 Page: Contact
 *******************************************/




/*******************************************
 COLORS
 *******************************************/

/* change header background color */


/* Links color */


/* Heading Color */

#headings {
	color: #204060;
	font-size: 100px;
}

/* Paragraph Color */
p {
	color: #2d5986;
	font-size: 26px;
}



