/*******************************************
 General
 *******************************************/


/* Remove links decoration i.e. underlines */
a {
	text-decoration: none;
}


/*******************************************
 HEADING
 *******************************************/ 


#KHANDA {
	font-size: 80px;
	color: #000066;
}
#IKONKAR {	
	color: #cc3300;
	font-size: 30px;
}

/*******************************************
 NAVIGATION
 *******************************************/


/*******************************************
 FOOTER
 *******************************************/

footer {
	font-size: 0.30em;
	text-align: center;
	clear: both; /* make the footer separate than section */
	padding-top: 10px;
	color: #ccc;
	/*background-color: #fff9e6;*/
}


/*******************************************
 Page: Japji Sahib
 *******************************************/




/*******************************************
 Page: Jaap Sahib
 *******************************************/




/*******************************************
 COLORS
 *******************************************/

/* change header background color */


/* Links color */

/* Images */

/* Heading Color */

#head-icon {
	max-width: 300px;
	/*max-height: 10px;*/
	margin: 0 auto 30px;

}

#side-icons {
	max-width: 100px;
	/*max-height: 10px;*/
	margin: 0 auto 10px;

}

#headings {
	color: #204060;
	font-size: 100px;
}

#heading1 {
	font-size: 60px;
}

#heading2 {
	font-size: 40px;
}

/* Paragraph Color */
p {
	/*color: #428bca;*/
	color: #2d5986;
	font-size: 26px;
}

/* Site Body color */
body {
	/*background-color: #fff9e6;*/
	/*color: #999;*/
}

.main-footer {
	color: SALMON;
	/*background-color: FLORALWHITE;*/

}



