#carouselImage {
    /*width: 150px;*/
    max-height: 400px;
    background-image: url(../img/harmandirSahib.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

.featurette-divider {
	padding: none;
}

.imgSize {
	max-height: 300px;
	margin: 10px;
}

#takhtCaption {
	/*color: #DC7633;*/
    /*color: #839192;*/
    /*color: mistyrose;*/
    /*-webkit-text-stroke: 2px #DC7633;*/
    /*text-shadow: 2px 2px BLUE;*/
    /*text-shadow: 8px 8px 10px lightsalmon;*/
	/*font-size: 90px;*/
    position: absolute;
    top: 30%;
    width: 500px;
    right: 35%;
    /*text-align: center;*/
}

#takhtCaption {
  /*-webkit-filter: drop-shadow(0px 0px 20px lightsalmon);*/
  -webkit-filter: drop-shadow(0px 0px 10px RED);
  filter: drop-shadow(0px 0px 30px RED);
}


@media screen and (min-width: 1000px) {
    .takhtHeading {
        margin-bottom: 85px;    
    }
}

.takhtPicture {
    margin-top: 20px;
    margin-bottom: 10px;
}


.polaroid {
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.30), 0 20px 30px 0 rgba(0, 0, 0, 0.30);
  background-color: PAPAYAWHIP;
}



@media screen and (max-width: 800px) {
    #takhtCaption {
    font-size: 60px;
    top: 60%;
    }
}

p{
    /*padding: 10;*/
    margin: 20px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#g_ftr {
    text-decoration: none;
    font-size: 10px;
}
