.mainDiv {
	position: fixed;
	width: 100%;
	height: 100%;
	background: FLORALWHITE;
    background-image: url(../img/harmandirSahib.JPG);
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-color: #40567f;
    z-index: -1;
/*	-webkit-background-size: 200%;
	-moz-background-size: 200%;
	-o-background-size: 200%;
	background-size: 200%;*/

}

#titleimg {
	position: fixed;
	width: 70%;
	top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

h1 {
	text-align: center;
}
audio {
	display: none;
}
button {
	text-align: center;
}


#blur {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: STEELBLUE;
	opacity: 0.3;
	z-index: -1;
}

.playButton {
	max-width: 40%;
	margin-top: 10%;
	opacity: 0.5;
	position: fixed;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.playButton:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

.audioButtons {
	max-width: 200px;
	position: fixed;
	top: 60%;
}

.leftButton {
	left: 10%;
}

.rightButton {
	right: 10%;
}

@media screen and (max-width: 700px) {
	.mainDiv {
		height: 200%;
	}

	#titleimg {
	margin-top: 10px;
	width: 90%;
	}
	.playImage {
		margin-top: -10%;
	}
	.playButton {
		margin-top: -10%;
	}
	.audioButtons {
		max-width: 80px;
		top: 50%;
	}
}
